*{
    color: #837E9F;
    width: 100% auto;
    font-family:Merriweather Sans;
}
body{
    
    width: 1366px;;
    height: 1767px ;
    background: #22212C;
    display: inline-flex;
}
.imgp{
    width: 128px;
    height: 128px;
}
.profile {

    background-color: #2a2634;  
    padding: 32px;  
    padding-top: 25px;  
    border-radius: 8px;
    text-align: center;
    position: absolute;
    width: 348px;
    height: 348px;
    left: 15px;
    top: 21px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    border-color: rgba(0, 0, 0, 0.2);
}
.links{

    background-color: #2a2634;
    padding: 32px;  
    padding-top: 24px;  
    border-radius: 8px;
    position: absolute;
    width: 348px;
    height: 348px;
    margin-top: 440px;
    left: 15px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    border-color: rgba(0, 0, 0, 0.2);
}

.linkedinlink{
    top: 5px;
    left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 16px;

    color: #837E9F;
    display: flex;
}
.imgl{
    top: -1px;
}
.githublink{


    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 16px;

    color: #837E9F;
    display: flex;
}
.emaillink{

    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 16px;

    color: #837E9F;
    display: flex;
}

.mproj{
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    position: absolute;
    width: 810px;
    height: 60px;
    left: 440px;
    top: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display:flex;
}
.text1{
    text-align:left;
    font-size: 20px;
    line-height: 15px;

}
.text2{
    text-align: right;
    line-height: 20px;
    width: 85%;
}
.foguete{
    display: flex;
    background:#302F3D;
    position:absolute;
    width:430px;
    height:186px;
    left: 440px;
    top: 150px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.pasta{
    left: 450px;
    top: 150px;
   
}
.proj1{
    position:absolute;
    left: 65px;
    top: 10px;
    
}
.text1proj2{
    position:absolute;
    left: 65px;
    top: 10px;
    
}
.proj2{
    display: flex;
    background:#302F3D;
    position:absolute;
    width:433px;
    height:186px;
    left: 880px;
    top: 150px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.pasta{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 35px;
    top: 25px;
}
.descri{
    position:absolute;
    left: 20px;
    top: 40px;
}
.star{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 35px;
    top: 146px;
}
.numstar{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 60px;
    top: 132px;

}
.educação{
    background:#302F3D;
    position:absolute;
    width:348px;
    height:490px;
    left: 440px;
    top: 350px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.title{
    position: absolute;
    left: 40px;
    font-family: Merriweather Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

}
.curso{
    position: absolute;
    top: 40px;
    left: 40px;
}
.Tecnologias{
    display: flex;
    background:#302F3D;
    position:absolute;
    Width:348px;
    Height:208px;
    left: 810px;
    top: 350px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}